body{
	display: flex;
	width: 100%;
	margin: center;
	padding: 50px;
	position: relative;
	background-color: gray;
	left: 400px;

	
}
.in{
	display: flex;
	flex-direction: row;
}
.f{
	display: flex;
	flex-direction: column;
}
.monFormformulaire{
	display: flex;
	height: 500px;
	
}
.container{

	display: flex;
	width: 100Px;
	align-items:
	margin:auto; 	
}
.monBouton{
	height: 150px;
	width: 150px;
}
.row{

}
.valeur{
	width: 400px;
}